# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=meyuroos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="minanloris-ui"

IMAGE_DESC="MeyuroOS - Immutable KDE operating system"
IMAGE_KEYWORDS="meyuroos,kde,linux,gaming,immutable"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://github.com/minanloris-ui.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
